.layout {
  min-height: 100vh;
}

.sider {
  background: #001529;
}

.logo {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 16px;
  font-weight: bold;
}

.siteLayout {
  background: #fff;
}

.content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

.breadcrumb {
  padding: 16px 0;
}

.ant-menu-item-selected {
  background-color: #1890ff !important;
}
