.layout {
  min-height: 100vh;
  background-color: red;
}

.sider {
  min-height: 100vh;
  background: #001529;
}

.logo {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 16px;
  font-weight: bold;
  cursor: pointer;
}

.siteLayout {
  background: #fff;
}

.siteLayoutContent {
  padding: 50px;
  min-height: 100vh;
}

.content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
  margin-top: 16px;
}

.breadcrumb {
  padding: 16px 0;
}

.ant-menu-item-selected {
  background-color: #1890ff !important;
}
