.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}
